<div class="nav-bar">
    <ul>
        <li><a routerLink="/opportunity/news" routerLinkActive="active">商业精文</a></li>
        <li><a routerLink="/opportunity/story" routerLinkActive="active">创业故事</a></li>
        <li><a routerLink="/opportunity/teach" routerLinkActive="active">入门教程</a></li>
        <li><a routerLink="/opportunity/model" routerLinkActive="active">商业模式</a></li>
        <li><a routerLink="/opportunity/search" routerLinkActive="active">行业研究</a></li>
    </ul>
</div>
<router-outlet></router-outlet>