
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1477630521845'); /* IE9*/
  src: url('iconfont.eot?t=1477630521845#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477630521845') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477630521845') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477630521845#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-erji:before { content: "\e78b"; }

.icon-dangan:before { content: "\e78b"; }

.icon-hongben:before { content: "\e78c"; }

.icon-biaoqian:before { content: "\e78b"; }

.icon-gongwenbao:before { content: "\e78c"; }

.icon-kafei:before { content: "\e78d"; }

.icon-duorou:before { content: "\e78d"; }

.icon-lanben:before { content: "\e78e"; }

.icon-jisuanqi:before { content: "\e78d"; }

.icon-heiban:before { content: "\e78c"; }

.icon-shubiao:before { content: "\e78f"; }

.icon-shizhong:before { content: "\e78f"; }

.icon-mingpai:before { content: "\e78f"; }

.icon-shuweiban:before { content: "\e790"; }

.icon-wenjianjia:before { content: "\e790"; }

.icon-wenjian:before { content: "\e790"; }

.icon-xiaoyu:before { content: "\e790"; }

.icon-bangbangtang:before { content: "\e7ad"; }

.icon-boluo:before { content: "\e7ad"; }

.icon-hebaodan:before { content: "\e7ae"; }

.icon-caomei:before { content: "\e7ae"; }

.icon-chengzi:before { content: "\e7ae"; }

.icon-hongpingguo:before { content: "\e7af"; }

.icon-ningmeng:before { content: "\e7b0"; }

.icon-niuyouguo:before { content: "\e7b0"; }

.icon-qingpingguo:before { content: "\e7b1"; }

.icon-pisa:before { content: "\e7b1"; }

.icon-yezhi:before { content: "\e7b2"; }

.icon-xigua:before { content: "\e7b2"; }

.icon-xihongshi:before { content: "\e7b3"; }

.icon-accept_database:before { content: "\e602"; }

.icon-add_image:before { content: "\e602"; }

.icon-advance:before { content: "\e603"; }

.icon-advertising:before { content: "\e603"; }

.icon-approval:before { content: "\e604"; }

.icon-alarm_clock:before { content: "\e604"; }

.icon-approve:before { content: "\e605"; }

.icon-area_chart:before { content: "\e605"; }

.icon-assistant:before { content: "\e606"; }

.icon-bar_chart:before { content: "\e607"; }

.icon-automatic:before { content: "\e607"; }

.icon-bearish:before { content: "\e608"; }

.icon-bad_decision:before { content: "\e607"; }

.icon-biotech:before { content: "\e60a"; }

.icon-biohazard:before { content: "\e60a"; }

.icon-bullish:before { content: "\e60c"; }

.icon-businesswoman:before { content: "\e60f"; }

.icon-businessman:before { content: "\e60f"; }

.icon-calculator:before { content: "\e610"; }

.icon-calendar:before { content: "\e610"; }

.icon-call_transfer:before { content: "\e611"; }

.icon-callback:before { content: "\e611"; }

.icon-checkmark:before { content: "\e615"; }

.icon-cell_phone:before { content: "\e616"; }

.icon-circuit:before { content: "\e616"; }

.icon-copyright:before { content: "\e61c"; }

.icon-data_configuration:before { content: "\e61f"; }

.icon-data_recovery:before { content: "\e620"; }

.icon-data_encryption:before { content: "\e61f"; }

.icon-deployment:before { content: "\e623"; }

.icon-department:before { content: "\e623"; }

.icon-down_right:before { content: "\e62a"; }

.icon-doughnut_chart:before { content: "\e62a"; }

.icon-generic_sorting_desc:before { content: "\e63c"; }

.icon-genealogy:before { content: "\e63c"; }

.icon-globe:before { content: "\e63c"; }

.icon-good_decision:before { content: "\e63d"; }

.icon-headset:before { content: "\e63e"; }

.icon-high_battery:before { content: "\e63f"; }

.icon-high_priority:before { content: "\e640"; }

.icon-info:before { content: "\e643"; }

.icon-line_chart:before { content: "\e64e"; }

.icon-low_priority:before { content: "\e650"; }

.icon-medium_priority:before { content: "\e651"; }

.icon-menu:before { content: "\e652"; }

.icon-mind_map:before { content: "\e653"; }

.icon-night_landscape:before { content: "\e65b"; }

.icon-ok:before { content: "\e65e"; }

.icon-organization:before { content: "\e661"; }

.icon-phone_android:before { content: "\e663"; }

.icon-phone:before { content: "\e663"; }

.icon-pie_chart:before { content: "\e665"; }

.icon-positive_dynamic:before { content: "\e669"; }

.icon-puzzle:before { content: "\e66b"; }

.icon-radar_plot:before { content: "\e66c"; }

.icon-reading:before { content: "\e66e"; }

.icon-registered_trademark:before { content: "\e66e"; }

.icon-refresh:before { content: "\e66e"; }

.icon-scatter_plot:before { content: "\e674"; }

.icon-serial_tasks:before { content: "\e675"; }

.icon-services:before { content: "\e678"; }

.icon-settings:before { content: "\e679"; }

.icon-shipped:before { content: "\e67a"; }

.icon-signature:before { content: "\e67a"; }

.icon-sms:before { content: "\e67c"; }

.icon-smartphone_tablet:before { content: "\e67c"; }

.icon-speaker:before { content: "\e67d"; }

.icon-sports_mode:before { content: "\e67e"; }

.icon-support:before { content: "\e680"; }

.icon-synchronize:before { content: "\e682"; }

.icon-todo_list:before { content: "\e684"; }

.icon-timeline:before { content: "\e685"; }

.icon-tree_structure:before { content: "\e685"; }

.icon-view_details:before { content: "\e68b"; }

.icon-vip:before { content: "\e68b"; }

.icon-voice_presentation:before { content: "\e68b"; }

.icon-workflow:before { content: "\e68f"; }

.icon-bell:before { content: "\e660"; }

.icon-backpack:before { content: "\e660"; }

.icon-atom:before { content: "\e660"; }

.icon-anchor:before { content: "\e660"; }

.icon-button:before { content: "\e662"; }

.icon-calculator1:before { content: "\e662"; }

.icon-candy:before { content: "\e662"; }

.icon-config:before { content: "\e665"; }

.icon-demoltion:before { content: "\e665"; }

.icon-chip:before { content: "\e664"; }

.icon-delivery:before { content: "\e665"; }

.icon-flower:before { content: "\e667"; }

.icon-graph:before { content: "\e669"; }

.icon-hospital:before { content: "\e66a"; }

.icon-hotdog:before { content: "\e66a"; }

.icon-magnet:before { content: "\e66b"; }

.icon-mirror:before { content: "\e66c"; }

.icon-note:before { content: "\e66c"; }

.icon-recycle:before { content: "\e66e"; }

.icon-server:before { content: "\e670"; }

.icon-ship:before { content: "\e670"; }

.icon-spray:before { content: "\e671"; }

.icon-skate:before { content: "\e671"; }

.icon-star:before { content: "\e671"; }

.icon-tower:before { content: "\e672"; }

.icon-vinyl:before { content: "\e674"; }

.icon-webcam:before { content: "\e675"; }

.icon-wrench:before { content: "\e675"; }

.icon-weight-1:before { content: "\e8f3"; }

.icon-Calendar:before { content: "\e60a"; }

.icon-Clock:before { content: "\e60b"; }

.icon-Magnifier:before { content: "\e60d"; }

.icon-Mail:before { content: "\e60e"; }

.icon-Notes:before { content: "\e60f"; }

.icon-headphone:before { content: "\e60d"; }

.icon-Settings:before { content: "\e613"; }

